

@model IEnumerable<RecipeForU.Models.MEMBER>

@{
    ViewBag.Title = "會員列表";
    Layout = "~/Views/Shared/_LayoutLite.cshtml";
}
<div class="row margin-top-login">
    <div class="col-10 offset-1">
        <div class="panel panel-default box-shadow">
            <div class="row panel-heading admin-list-heading">
                <div class="col-7 col-md-6 offset-md-3 d-flex justify-content-center align-items-center admin-list-title">@ViewBag.Title</div>
                <div class="col-5 col-md-3 d-flex justify-content-end align-items-center">@Html.ActionLink("新增會員", "Create", "User", null, new { @class = "table-btn" })</div>
            </div>
            <div class="row panel-body admin-list-body">
                <table class="col-12 table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.member_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.phone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.gender)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.birthday)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.occupation)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.member_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.phone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.gender)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.birthday)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.occupation)
                            </td>
                            <td style="text-align:right">
                                @Html.ActionLink("修改", "Edit", "User", new { id = item.rowid }, new { @class = "table-btn" })
                                @Html.ActionLink("刪除", "Delete", "User", new { id = item.rowid }, new { @class = "site-btn", onclick = "return confirm('是否確定要刪除?')" })
                            </td>
                        </tr>
                    }

                </table>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="categories__pagination">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">Next</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>