@model RecipeForU.Models.MEMBER

@{
    ViewBag.Title = "會員註冊";
}

@section scripts{

    <script src="@Url.Content("~/Scripts/datepicker.js")"></script>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="signin form-horizontal">
        <div class="signin__warp">
            <div class="signin__content">
                <div class="signin__logo">
                    <a href="#"><img src="@Url.Content("~/foodeiblog/img/siign-in-logo.png")" alt=""></a>
                </div>
                <p>
                    很高興見到你，讓我們一起將料理變得簡單有趣吧！
                </p>
                <div class="signin__form">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            @Html.ActionLink("會員註冊", "Register", "User", null, new { @class = "nav-link active" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("會員登入", "Login", "User", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                    </ul>
                    <div class="tab-content">
                        <!-- 註冊表單 -->
                        <div class="tab-pane active" role="tabpanel">
                            <div class="signin__form__text">
                                <form action="#">

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.member_id)
                                    @Html.HiddenFor(model => model.is_valid)
                                    @Html.HiddenFor(model => model.member_type)

                                    <div class="form-group">
                                        <div class="col-12 col-md-6 offset-md-3">
                                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-12 col-md-6 offset-md-3">
                                            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @placeholder = "密碼" } })
                                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-12 col-md-6 offset-md-3">
                                            @Html.EditorFor(model => model.member_name, new { htmlAttributes = new { @class = "form-control", @placeholder = "姓名" } })
                                            @Html.ValidationMessageFor(model => model.member_name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-12 col-md-6 offset-md-3">
                                            @Html.EditorFor(model => model.aka, new { htmlAttributes = new { @class = "form-control", @placeholder = "暱稱" } })
                                            @Html.ValidationMessageFor(model => model.aka, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-12 col-md-6 offset-md-3">
                                            @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "電話" } })
                                            @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-12 col-md-6 offset-md-3">
                                            @Html.EditorFor(model => model.gender, new { htmlAttributes = new { @class = "form-control", @placeholder = "性別" } })
                                            @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-12 col-md-6 offset-md-3">
                                            @Html.EditorFor(model => model.birthday, new { htmlAttributes = new { @class = "form-control  datepicker" } })
                                            @Html.ValidationMessageFor(model => model.birthday, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-12 col-md-6 offset-md-3">
                                            @Html.EditorFor(model => model.occupation, new { htmlAttributes = new { @class = "form-control", @placeholder = "職業" } })
                                            @Html.ValidationMessageFor(model => model.occupation, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-12 col-md-6 offset-md-3">
                                            <div class="row">
                                                <div class="col-12 col-md-5">
                                                    <button type="submit" class="site-btn">註冊</button>
                                                </div>
                                                <div class="col-12 col-md-7">
                                                    @Html.ActionLink("返回首頁", "Index", "Home", null, new { @class = "table-btn" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="row margin-top-login">
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-4 col-lg-4 col-lg-offset-4">
                    <div class="panel panel-default box-shadow">
                        <div class="panel-heading">
                            <span class="text-primary">@AppService.AppName-會員註冊</span>
                            <span class="text-muted pull-right today" title="Today"></span>
                        </div>

                        <div class="panel-body">

                            <div class="form-horizontal">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.member_id)
                                @Html.HiddenFor(model => model.is_valid)
                                @Html.HiddenFor(model => model.member_type)


                                <div class="form-group">
                                    @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-12 col-md-6 offset-md-3">
                                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-12 col-md-6 offset-md-3">
                                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.member_name, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-12 col-md-6 offset-md-3">
                                        @Html.EditorFor(model => model.member_name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.member_name, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.phone, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-12 col-md-6 offset-md-3">
                                        @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.gender, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-12 col-md-6 offset-md-3">
                                        @Html.EditorFor(model => model.gender, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.birthday, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-12 col-md-6 offset-md-3">
                                        @Html.EditorFor(model => model.birthday, new { htmlAttributes = new { @class = "form-control  datepicker" } })
                                        @Html.ValidationMessageFor(model => model.birthday, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.occupation, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-12 col-md-6 offset-md-3">
                                        @Html.EditorFor(model => model.occupation, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.occupation, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-9">
                                        <input type="submit" value="註冊帳號" class="btn btn-default" />
                                        @Html.ActionLink("系統登入", "Login", "User", null, new { @class = "btn btn-success" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }*@
