@model RecipeForU.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "變更密碼";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="signin form-horizontal">
        <div class="signin__warp">
            <div class="signin__content">
                <div class="signin__logo">
                    <a href="#"><img src="@Url.Content("~/foodeiblog/img/siign-in-logo.png")" alt=""></a>
                </div>
                <hr />
                <div class="signin__form">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item edit">
                            @Html.ActionLink("變更密碼", "ResetPassword", "User", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                    </ul>
                    <div class="tab-content">
                        <!-- 修改密碼表單 -->
                        <div class="tab-pane active" role="tabpanel">
                            <div class="signin__form__text">
                                <form action="#">

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-group">
                                        <div class="col-12 col-md-6 offset-md-3">
                                            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "新的密碼" } })
                                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-12 col-md-6 offset-md-3">
                                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "確認密碼" } })
                                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-12 col-md-6 offset-md-3">
                                            <div class="row">
                                                <div class="col-12 col-md-5">
                                                    <button type="submit" class="site-btn">變更</button>
                                                </div>
                                                <div class="col-12 col-md-7">
                                                    @Html.ActionLink("返回首頁", "Index", "Home", null, new { @class = "primary-btn" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@*
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="row margin-top-login">
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-4 col-lg-4 col-lg-offset-4">
                    <div class="panel panel-default box-shadow">
                        <div class="panel-heading">
                            <span class="text-primary">變更密碼</span>
                            <span class="text-muted pull-right today" title="Today"></span>
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="submit" value="變更密碼" class="btn btn-primary" />
                                        @Html.ActionLink("返回首頁", "Index", "Home", null, new { @class = "btn btn-success" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
*@