
@{ ViewBag.Title = "後台管理";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";

    int i = 1; }

<!--inner block start here-->
<div class="inner-block">
    <!--market updates updates-->
    <div class="market-updates">
        <div class="col-md-4 market-update-gd">
            <div class="market-update-block clr-block-1">
                <div class="col-md-8 market-update-left">
                    <h3>@DashboardService.CountMember()</h3>
                    <h4>會員人數</h4>
                </div>
                <div class="col-md-4 market-update-right">
                    <i class="fa fa-user-o"> </i>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-4 market-update-gd">
            <div class="market-update-block clr-block-2">
                <div class="col-md-8 market-update-left">
                    <h3>@DateTime.Now.Year</h3>
                    <h4>今日拜訪人次</h4>
                </div>
                <div class="col-md-4 market-update-right">
                    <i class="fa fa-eye"> </i>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-4 market-update-gd">
            <div class="market-update-block clr-block-3">
                <div class="col-md-8 market-update-left">
                    <h3>@DashboardService.CountRecipe()</h3>
                    <h4>食譜總數</h4>
                </div>
                <div class="col-md-4 market-update-right">
                    <i class="fa fa-book"> </i>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!--market updates end here-->
    <!--mainpage chit-chating-->
    <div class="chit-chat-layer1">
        <div class="col-12 col-md-6 chit-chat-layer1-left">
            <div class="work-progres">
                <div class="chit-chat-heading">食譜流量排行</div>
                <div class="table-responsive-sm">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>食譜名稱</th>
                                <th>作者</th>

                                @*<th>分類</th>*@
                                <th>瀏覽人次</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>@RecipeDetailService.ShowPopular(0).recipe_name</td>
                                <td>@RecipeDetailService.GetRecipeAuthorById(RecipeDetailService.ShowPopular(0).recipe_id)</td>

                                @*<td><span class="label label-warning">甜點</span></td>*@
                                <td><span class="badge badge-info">@RecipeDetailService.ShowPopular(0).view_times</span></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>@RecipeDetailService.ShowPopular(1).recipe_name</td>
                                <td>@RecipeDetailService.GetRecipeAuthorById(RecipeDetailService.ShowPopular(1).recipe_id)</td>

                                @*<td><span class="label label-warning">甜點</span></td>*@
                                <td><span class="badge badge-info">@RecipeDetailService.ShowPopular(1).view_times</span></td>
                            </tr>
                            <tr>
                            <tr>
                                <td>3</td>
                                <td>@RecipeDetailService.ShowPopular(2).recipe_name</td>
                                <td>@RecipeDetailService.GetRecipeAuthorById(RecipeDetailService.ShowPopular(2).recipe_id)</td>

                                @*<td><span class="label label-warning">甜點</span></td>*@
                                <td><span class="badge badge-info">@RecipeDetailService.ShowPopular(2).view_times</span></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>@RecipeDetailService.ShowPopular(3).recipe_name</td>
                                <td>@RecipeDetailService.GetRecipeAuthorById(RecipeDetailService.ShowPopular(3).recipe_id)</td>

                                @*<td><span class="label label-warning">甜點</span></td>*@
                                <td><span class="badge badge-info">@RecipeDetailService.ShowPopular(3).view_times</span></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>@RecipeDetailService.ShowPopular(4).recipe_name</td>
                                <td>@RecipeDetailService.GetRecipeAuthorById(RecipeDetailService.ShowPopular(4).recipe_id)</td>

                                @*<td><span class="label label-warning">甜點</span></td>*@
                                <td><span class="badge badge-info">@RecipeDetailService.ShowPopular(4).view_times</span></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>@RecipeDetailService.ShowPopular(5).recipe_name</td>
                                <td>@RecipeDetailService.GetRecipeAuthorById(RecipeDetailService.ShowPopular(5).recipe_id)</td>

                                @*<td><span class="label label-warning">甜點</span></td>*@
                                <td><span class="badge badge-info">@RecipeDetailService.ShowPopular(5).view_times</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
        <!--main page chit chating end here-->
        <!--main page chart start here-->
        <div class="main-page-charts">
            <div class="main-page-chart-layer1">
                <div class="col-12 col-md-6 chit-chat-layer1-rit">
                    <div class="work-progres-add">
                        <div class="span-2c">
                            <h3>本週新增食譜數</h3>
                            <canvas id="bar" class="col-12"></canvas>
                            <script>
                                var barChartData = {
                                    labels: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
                                    datasets: [
                                        {
                                            strokeColor: "#f4952f",
                                            fillColor: "rgba(244,149,47,0.5)",
                                            data: [65, 59, 90, 81, 56, 55, 40]
                                        }
                                    ]
                                };
                                new Chart(document.getElementById("bar").getContext("2d")).Bar(barChartData);
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
        <!--main page chart layer2-->
        <div class="chart-layer-2">
            <div class="col-12 col-md-6 chart-blo-1">
                <div class="line-chart">
                    <h3>本週拜訪人次</h3>
                    <canvas id="line" class="col-12"></canvas>
                    <script>
                        var lineChartData = {
                            labels: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
                            datasets: [
                                {
                                    fillColor: "rgba(51, 122, 183, 0.5)",
                                    strokeColor: "#337AB7",
                                    pointColor: "#337AB7",
                                    pointStrokeColor: "#fff",
                                    data: [28, 48, 40, 19, 96, 27, 100]
                                }
                            ]
                        };
                        new Chart(document.getElementById("line").getContext("2d")).Line(lineChartData);

                    </script>
                </div>
            </div>
            <!-- 尚未顯示職業別  -->
            <div class="col-12 col-md-6 chart-blo-1">
                <div class="dygno">
                    <h2>會員職業分布</h2>

                    <canvas id="doughnut"></canvas>
                    <script>
                        var doughnutData = [
                            {
                                label: "廚師",
                                value: 30,
                                color: "#337AB7"
                            },
                            {
                                label: "工程師",
                                value: 50,
                                color: "#aaa"
                            },
                            {
                                label: "作家",
                                value: 100,
                                color: "#FC8213"
                            },
                            {
                                label: "教師",
                                value: 40,
                                color: "#68AE00"
                            },
                        ];
                        new Chart(document.getElementById("doughnut").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>
            </div>
        </div>
    </div>
<!--inner block end here-->
