@using DevStudio;
@using RecipeForU.Models;
@{
    ViewBag.Title = "首頁";

    string monthToEn(int month)
    {
        switch (month)
        {
            case 1: return "JAN";
            case 2: return "FEB";
            case 3: return "MAR";
            case 4: return "APR";
            case 5: return "MAY";
            case 6: return "JUN";
            case 7: return "JUL";
            case 8: return "AUG";
            case 9: return "SEP";
            case 10: return "OCT";
            case 11: return "NOV";
            case 12: return "DEC";
            default: return "none";
        }
    }
}

<!-- Hero Section Begin -->
<section class="hero">
    <!--  改了main.js，拿掉箭頭 -->
    <div class="hero__slider owl-carousel">
        <div class="hero__item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <h2>熱門食譜</h2>
                    </div>
                    <div class="col-lg-6 p-0">
                        <a href="@Url.Content("~/Recipe/RecipeDetail/" + RecipeDetailService.ShowPopular(0).recipe_id)">
                            <div class="hero__inside__item hero__inside__item--wide set-bg"
                                 data-setbg="@Url.Content(@RecipeDetails.GetRecipeImage(RecipeDetailService.ShowPopular(0).recipe_id))">
                                <div class="hero__inside__item__text">
                                    <div class="hero__inside__item--meta">
                                        <span>@RecipeDetailService.ShowPopular(0).time.Day</span>
                                        <p>@monthToEn(RecipeDetailService.ShowPopular(0).time.Month)</p>
                                    </div>
                                    <div class="hero__inside__item--text">
                                        <h4>@RecipeDetailService.ShowPopular(0).recipe_name</h4>
                                        <ul class="widget">
                                            <li>by &nbsp;&nbsp;<span>@RecipeDetailService.GetRecipeAuthorById(@RecipeDetailService.ShowPopular(0).recipe_id)</span></li>
                                            <li>3 min read</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6  p-0">
                        <a href="@Url.Content("~/Recipe/RecipeDetail/" + RecipeDetailService.ShowPopular(1).recipe_id)">
                            <div class="hero__inside__item hero__inside__item--small set-bg"
                                 data-setbg="@Url.Content(@RecipeDetails.GetRecipeImage(RecipeDetailService.ShowPopular(1).recipe_id))">
                                <div class="hero__inside__item__text">
                                    <div class="hero__inside__item--meta">
                                        <span>@RecipeDetailService.ShowPopular(1).time.Day</span>
                                        <p>@monthToEn(RecipeDetailService.ShowPopular(1).time.Month)</p>
                                    </div>
                                    <div class="hero__inside__item--text">
                                        <h5>@RecipeDetailService.ShowPopular(1).recipe_name</h5>
                                        <ul class="label">
                                            <li>by &nbsp;&nbsp;<span>@RecipeDetailService.GetRecipeAuthorById(@RecipeDetailService.ShowPopular(1).recipe_id)</span></li>
                                            <li>3 min read</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="@Url.Content("~/Recipe/RecipeDetail/" + RecipeDetailService.ShowPopular(2).recipe_id)">
                            <div class="hero__inside__item hero__inside__item--small set-bg"
                                 data-setbg="@Url.Content(@RecipeDetails.GetRecipeImage(RecipeDetailService.ShowPopular(2).recipe_id))">
                                <div class="hero__inside__item__text">
                                    <div class="hero__inside__item--meta">
                                        <span>@RecipeDetailService.ShowPopular(2).time.Day</span>
                                        <p>@monthToEn(RecipeDetailService.ShowPopular(2).time.Month)</p>
                                    </div>
                                    <div class="hero__inside__item--text">
                                        <h5>@RecipeDetailService.ShowPopular(2).recipe_name</h5>
                                        <ul class="label">
                                            <li>by &nbsp;&nbsp;<span>@RecipeDetailService.GetRecipeAuthorById(@RecipeDetailService.ShowPopular(2).recipe_id)</span></li>
                                            <li>3 min read</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6  p-0">
                        <a href="@Url.Content("~/Recipe/RecipeDetail/" + RecipeDetailService.ShowPopular(3).recipe_id)">
                            <div class="hero__inside__item set-bg" data-setbg="@Url.Content(@RecipeDetails.GetRecipeImage(RecipeDetailService.ShowPopular(3).recipe_id))">
                                <div class="hero__inside__item__text">
                                    <div class="hero__inside__item--meta">
                                        <span>@RecipeDetailService.ShowPopular(3).time.Day</span>
                                        <p>@monthToEn(RecipeDetailService.ShowPopular(3).time.Month)</p>
                                    </div>
                                    <div class="hero__inside__item--text">
                                        <h5>@RecipeDetailService.ShowPopular(3).recipe_name</h5>
                                        <ul class="label">
                                            <li>by &nbsp;&nbsp;<span>@RecipeDetailService.GetRecipeAuthorById(@RecipeDetailService.ShowPopular(3).recipe_id)</span></li>
                                            <li>3 min read</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <h2>熱門食譜</h2>
                    </div>
                    <div class="col-lg-6 p-0">
                        <a href="@Url.Content("~/Recipe/RecipeDetail/" + RecipeDetailService.ShowPopular(4).recipe_id)">
                            <div class="hero__inside__item hero__inside__item--wide set-bg"
                                 data-setbg="@Url.Content(@RecipeDetails.GetRecipeImage(RecipeDetailService.ShowPopular(4).recipe_id))">
                                <div class="hero__inside__item__text">
                                    <div class="hero__inside__item--meta">
                                        <span>@RecipeDetailService.ShowPopular(4).time.Day</span>
                                        <p>@monthToEn(RecipeDetailService.ShowPopular(4).time.Month)</p>
                                    </div>
                                    <div class="hero__inside__item--text">
                                        <h5>@RecipeDetailService.ShowPopular(4).recipe_name</h5>
                                        <ul class="label">
                                            <li>by &nbsp;&nbsp;<span>@RecipeDetailService.GetRecipeAuthorById(@RecipeDetailService.ShowPopular(4).recipe_id)</span></li>
                                            <li>3 min read</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 p-0">
                        <a href="@Url.Content("~/Recipe/RecipeDetail/" + RecipeDetailService.ShowPopular(5).recipe_id)">
                            <div class="hero__inside__item hero__inside__item--small set-bg"
                                 data-setbg="@Url.Content(@RecipeDetails.GetRecipeImage(RecipeDetailService.ShowPopular(5).recipe_id))">
                                <div class="hero__inside__item__text">
                                    <div class="hero__inside__item--meta">
                                        <span>@RecipeDetailService.ShowPopular(5).time.Day</span>
                                        <p>@monthToEn(RecipeDetailService.ShowPopular(5).time.Month)</p>
                                    </div>
                                    <div class="hero__inside__item--text">
                                        <h5>@RecipeDetailService.ShowPopular(5).recipe_name</h5>
                                        <ul class="label">
                                            <li>by &nbsp;&nbsp;<span>@RecipeDetailService.GetRecipeAuthorById(@RecipeDetailService.ShowPopular(5).recipe_id)</span></li>
                                            <li>3 min read</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="@Url.Content("~/Recipe/RecipeDetail/" + RecipeDetailService.ShowPopular(6).recipe_id)">
                            <div class="hero__inside__item hero__inside__item--small set-bg"
                                 data-setbg="@Url.Content(@RecipeDetails.GetRecipeImage(RecipeDetailService.ShowPopular(6).recipe_id))">
                                <div class="hero__inside__item__text">
                                    <div class="hero__inside__item--meta">
                                        <span>@RecipeDetailService.ShowPopular(6).time.Day</span>
                                        <p>@monthToEn(RecipeDetailService.ShowPopular(6).time.Month)</p>
                                    </div>
                                    <div class="hero__inside__item--text">
                                        <h5>@RecipeDetailService.ShowPopular(6).recipe_name</h5>
                                        <ul class="label">
                                            <li>by &nbsp;&nbsp;<span>@RecipeDetailService.GetRecipeAuthorById(@RecipeDetailService.ShowPopular(6).recipe_id)</span></li>
                                            <li>3 min read</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 p-0">
                        <a href="@Url.Content("~/Recipe/RecipeDetail/" + RecipeDetailService.ShowPopular(7).recipe_id)">
                            <div class="hero__inside__item set-bg" data-setbg="@Url.Content(@RecipeDetails.GetRecipeImage(RecipeDetailService.ShowPopular(7).recipe_id))">
                                <div class="hero__inside__item__text">
                                    <div class="hero__inside__item--meta">
                                        <span>@RecipeDetailService.ShowPopular(7).time.Day</span>
                                        <p>@monthToEn(RecipeDetailService.ShowPopular(7).time.Month)</p>
                                    </div>
                                    <div class="hero__inside__item--text">
                                        <h5>@RecipeDetailService.ShowPopular(7).recipe_name</h5>
                                        <ul class="label">
                                            <li>by &nbsp;&nbsp;<span>@RecipeDetailService.GetRecipeAuthorById(@RecipeDetailService.ShowPopular(7).recipe_id)</span></li>
                                            <li>3 min read</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Categories Section Begin -->
<section class="categories spad">
    <!-- 頂端4張圖 -->
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center">
                    <h2>推薦食譜</h2>
                </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <a href="@Url.Content("~/Recipe/RecipeDetail/" + RecipeDetailService.ShowRecomended(0).recipe_id)">
                    <div class="categories__item set-bg" data-setbg="@Url.Content(@RecipeDetails.GetRecipeImage(RecipeDetailService.ShowRecomended(0).recipe_id))">
                        <div class="categories__hover__text">
                            <h5>@RecipeDetailService.ShowRecomended(0).recipe_name</h5>
                            <p>by @RecipeDetailService.GetRecipeAuthorById(@RecipeDetailService.ShowRecomended(0).recipe_id)</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <a href="@Url.Content("~/Recipe/RecipeDetail/" + RecipeDetailService.ShowRecomended(1).recipe_id)">
                    <div class="categories__item set-bg" data-setbg="@Url.Content(@RecipeDetails.GetRecipeImage(RecipeDetailService.ShowRecomended(1).recipe_id))">
                        <div class="categories__hover__text">
                            <h5>@RecipeDetailService.ShowRecomended(1).recipe_name</h5>
                            <p>by @RecipeDetailService.GetRecipeAuthorById(@RecipeDetailService.ShowRecomended(1).recipe_id)</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <a href="@Url.Content("~/Recipe/RecipeDetail/" + RecipeDetailService.ShowRecomended(2).recipe_id)">
                    <div class="categories__item set-bg" data-setbg="@Url.Content(@RecipeDetails.GetRecipeImage(RecipeDetailService.ShowRecomended(2).recipe_id))">
                        <div class="categories__hover__text">
                            <h5>@RecipeDetailService.ShowRecomended(2).recipe_name</h5>
                            <p>by @RecipeDetailService.GetRecipeAuthorById(@RecipeDetailService.ShowRecomended(2).recipe_id)</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <a href="@Url.Content("~/Recipe/RecipeDetail/" + RecipeDetailService.ShowRecomended(3).recipe_id)">
                    <div class="categories__item set-bg" data-setbg="@Url.Content(@RecipeDetails.GetRecipeImage(RecipeDetailService.ShowRecomended(3).recipe_id))">
                        <div class="categories__hover__text">
                            <h5>@RecipeDetailService.ShowRecomended(3).recipe_name</h5>
                            <p>by @RecipeDetailService.GetRecipeAuthorById(@RecipeDetailService.ShowRecomended(3).recipe_id)</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- 主要篇幅 -->
    <div class="categories__post">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <h2>食譜專區</h2>
                </div>
                <div class="col-lg-8 col-md-8">
                    <!-- 最大的文章 -->
                    <div class="categories__post__item categories__post__item--large">
                        <a href="#">
                            <div class="categories__post__item__pic set-bg"
                                 data-setbg="@Url.Content("~/foodeiblog/img/categories/categories-post/cp-1.jpg")">
                                <div class="categories__post__item__text">
                                    <ul class="post__label--large">
                                        <li>Aug 08</li>
                                        <li>王曉明</li>
                                    </ul>
                                    <h3>烤蘋果派的方法</h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <!-- 文章1 -->
                            <div class="categories__post__item">
                                <a href="#">
                                    <div class="categories__post__item__pic small__item set-bg"
                                         data-setbg="@Url.Content("~/foodeiblog/img/categories/categories-post/cp-2.jpg")">
                                        <div class="categories__post__item__text">
                                            <ul class="post__label--large">
                                                <li>Aug 08</li>
                                                <li>王小明</li>
                                            </ul>
                                            <h3>烤蘋果派的方法</h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- 文章2 -->
                            <div class="categories__post__item">
                                <a href="#">
                                    <div class="categories__post__item__pic set-bg"
                                         data-setbg="@Url.Content("~/foodeiblog/img/categories/categories-post/cp-4.jpg")">
                                        <div class="categories__post__item__text">
                                            <ul class="post__label--large">
                                                <li>Aug 08</li>
                                                <li>王小明</li>
                                            </ul>
                                            <h3>烤蘋果派的方法</h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- 文章3 -->
                            <a href="#">
                                <div class="categories__post__item__plain set-bg"
                                     data-setbg="@Url.Content("~/foodeiblog/img/categories/categories-post/cp-6.jpg")">
                                    <div class="categories__post__item__text">
                                        <div class="post__meta">
                                            <h4>08</h4>
                                            <span>Aug</span>
                                        </div>
                                        <ul class="post__label--large">
                                            <li>王小明</li>
                                        </ul>
                                        <h3>烤蘋果派的方法</h3>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <!-- 文章2 -->
                            <div class="categories__post__item">
                                <a href="#">
                                    <div class="categories__post__item__pic set-bg"
                                         data-setbg="@Url.Content("~/foodeiblog/img/categories/categories-post/cp-4.jpg")">
                                        <div class="categories__post__item__text">
                                            <ul class="post__label--large">
                                                <li>Aug 08</li>
                                                <li>王小明</li>
                                            </ul>
                                            <h3>烤蘋果派的方法</h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- 文章4 -->
                            <div class="categories__post__item">
                                <a href="#">
                                    <div class="categories__post__item__pic smaller__large set-bg"
                                         data-setbg="@Url.Content("~/foodeiblog/img/categories/categories-post/cp-5.jpg")">
                                        <div class="categories__post__item__text">
                                            <ul class="post__label--large">
                                                <li>Aug 08</li>
                                                <li>王小明</li>
                                            </ul>
                                            <h3>烤蘋果派的方法</h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- 文章4 -->
                            <div class="categories__post__item">
                                <a href="#">
                                    <div class="categories__post__item__pic smaller__large set-bg"
                                         data-setbg="@Url.Content("~/foodeiblog/img/categories/categories-post/cp-5.jpg")">
                                        <div class="categories__post__item__text">
                                            <ul class="post__label--large">
                                                <li>Aug 08</li>
                                                <li>王小明</li>
                                            </ul>
                                            <h3>烤蘋果派的方法</h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <!-- 奇怪的評語 -->
                    <div class="categories__post__item__small">
                        <img src="@Url.Content("~/foodeiblog/img/categories/categories-post/quote.png")" alt="">
                        <p>
                            Lorem ipsum dolor amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt labore et dolore magna aliqua gravida.
                        </p>
                        <div class="posted__by">Elena T.Jaivy</div>
                    </div>
                    <!-- 文章2 -->
                    <div class="categories__post__item">
                        <a href="#">
                            <div class="categories__post__item__pic set-bg"
                                 data-setbg="@Url.Content("~/foodeiblog/img/categories/categories-post/cp-4.jpg")">
                                <div class="categories__post__item__text">
                                    <ul class="post__label--large">
                                        <li>Aug 08</li>
                                        <li>王小明</li>
                                    </ul>
                                    <h3>烤蘋果派的方法</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- 文章3 -->
                    <a href="#">
                        <div class="categories__post__item__plain set-bg"
                             data-setbg="@Url.Content("~/foodeiblog/img/categories/categories-post/cp-6.jpg")">
                            <div class="categories__post__item__text">
                                <div class="post__meta">
                                    <h4>08</h4>
                                    <span>Aug</span>
                                </div>
                                <ul class="post__label--large">
                                    <li>王小明</li>
                                </ul>
                                <h3>烤蘋果派的方法</h3>
                            </div>
                        </div>
                    </a>
                    <!-- 文章2 -->
                    <div class="categories__post__item">
                        <a href="#">
                            <div class="categories__post__item__pic set-bg"
                                 data-setbg="@Url.Content("~/foodeiblog/img/categories/categories-post/cp-4.jpg")">
                                <div class="categories__post__item__text">
                                    <ul class="post__label--large">
                                        <li>Aug 08</li>
                                        <li>王小明</li>
                                    </ul>
                                    <h3>烤蘋果派的方法</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                    <div class="load__more__btn">
                        <a href="#">更多食譜</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->