@using DevStudio;
@using RecipeForU.Models;
@model RecipeForU.Models.RECIPE
@*<script src="~/Scripts/jquery-3.4.1.min.js"></script>*@

@{
    ViewBag.Title = "食譜本人";

    string rc_photo = "";
    if (Model != null)
    {
        rc_photo = RecipeDetails.GetRecipeImage(Model.recipe_id);
    }

    var steps = new List<RecipeForU.Models.sRECIPE>();
    using (RecipeForU.Models.RecipeForUEntities db = new RecipeForU.Models.RecipeForUEntities())
    {
        steps = (from s in db.sRECIPE where s.recipe_id == this.Model.recipe_id select s).ToList();
    }

    int count = 0;
    var elements = new List<RecipeForU.Models.eRECIPE>();
    using (RecipeForU.Models.RecipeForUEntities db = new RecipeForU.Models.RecipeForUEntities())
    {
        elements = (from s in db.eRECIPE where s.recipe_id == this.Model.recipe_id select s).ToList();
    }

    string authoraka = "";
    using (RecipeForU.Models.RecipeForUEntities db = new RecipeForU.Models.RecipeForUEntities())
    {
        authoraka = (from s in db.MEMBER where s.member_id == this.Model.recipe_author select s.aka).FirstOrDefault();

    }

    string monthToEn(int month)
    {
        switch (month)
        {
            case 1: return "JAN";
            case 2: return "FEB";
            case 3: return "MAR";
            case 4: return "APR";
            case 5: return "MAY";
            case 6: return "JUN";
            case 7: return "JUL";
            case 8: return "AUG";
            case 9: return "SEP";
            case 10: return "OCT";
            case 11: return "NOV";
            case 12: return "DEC";
            default: return "none";
        }
    }
    int i = 1;
}

<section class="single-post spad">
    <div class="single-post__hero set-bg" data-setbg="@Url.Content(@rc_photo)"></div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="single-post__title">
                    <div class="single-post__title__meta">
                        <h2>@Model.time.Day</h2>
                        <span>@monthToEn(@Model.time.Month)</span>
                    </div>
                    <div class="single-post__title__text">
                        <ul class="label">
                            <li>甜點</li>
                            <li>新手村</li>
                        </ul>
                        <h4>@Model.recipe_name</h4>
                        <ul class="widget">
                            <li>by @authoraka</li>
                            <li>上傳日期：@Model.time.Date.ToString("yyyy/MM/dd")</li>
                            <li>觀看次數：@Model.view_times</li>

                        </ul>
                        @*<li><a href="#"><i class="fa fa-bookmark-o"></i></a></li>
                          //////////////
                          <p id="like"><i class="fa fa-bookmark-o"></i>收藏</p>
                          <div class="row">
                               <div class="col-md-2">
                                    <p id="btnajax"><i class="fa fa-bookmark-o"></i>收藏</p>
                                       <textarea id="ajaxreturn" type="textarea1">按讚</textarea>
                               </div>
                          </div>
                          //////////////*@
                    </div>
                </div>
                <div class="single-post__social__item">
                    <ul>
                        <li><a href="#" title="收藏食譜" data-toggle="tooltip" data-placement="right"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                    </ul>
                </div>
                <div class="single-post__top__text">
                    <img src="@Url.Content("~/foodeiblog/img/categories/categories-post/quote.png")" alt="">
                    <p>
                        @Model.recipe_intro
                    </p>
                    <h6>
                        <img src="@Url.Content("~/foodeiblog/img/categories/categories-post/quote.png")" class="transimg" alt="">
                    </h6>
                </div>
                <div class="single-post__recipe__details">
                    <div class="single-post__recipe__details__option">
                        <h4>食材</h4>
                    </div>
                    <div class="single-post__recipe__details__indegradients">
                        <div class="row">
                            @foreach (var item in elements)
                            {
                                if (count == 0)
                                {
                                    <div class="col-6 col-md-4 elements">@item.element_id</div>
                                    <div class="col-6 col-md-2 elements qty elements-line">@item.qty</div>
                                    count = 1;
                                }
                                else
                                {
                                    <div class="col-6 col-md-4 elements">@item.element_id</div>
                                    <div class="col-6 col-md-2 elements qty">@item.qty</div>
                                    count = 0;
                                }
                            }
                        </div>
                    </div>
                    <div class="single-post__recipe__details__option">
                        <h4>步驟</h4>
                    </div>
                    <div class="single-post__recipe__details__direction">
                        @foreach (var item in steps)
                        {
                            <div class="row">
                                <div class="col-6">
                                    <h4>@i</h4>
                                    <p>@item.step_body</p>
                                </div>
                                <div class="col-6">
                                    <a href="@RecipeDetails.GetStepImage(item.step_cover)">
                                        <img class="mainimage" src="@RecipeDetails.GetStepImage(item.step_cover)" style="max-width: 100%;width: 400px;" />
                                    </a>
                                </div>
                            </div>
                            <hr />
                            i++;
                        }
                    </div>
                </div>
                <div class="single-post__tags">
                    <a href="#">甜點</a>
                    <a href="#">新手村</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- JS includes -->
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js"></script>


<script type="text/javascript">
    //$('#like').click(function () {
    //    $('#like').attr();
    //    $("i", this).toggleClass("icon-circle-arrow-up icon-circle-arrow-down");
    //});
    //呼叫Ajax的基本範例
    $("#btnajax").click(function () {
        $.get("/Recipe/HelloWorld", null, function (result) {
            $("#btnajax").val(result);
        });
    });

</script>-->
