@model IEnumerable<RecipeForU.Models.RECIPE>
@using DevStudio;
@using RecipeForU.Models;

@{
    ViewBag.Title = "我的食譜";
    Layout = "~/Views/Shared/_LayoutLite.cshtml";
}

<div class="row margin-top-login">
    <div class="col-10 offset-1">
        <div class="panel panel-default box-shadow">
            <div class="row panel-heading admin-list-heading">
                <div class="col-7 col-md-6 offset-md-3 d-flex justify-content-center align-items-center admin-list-title">@ViewBag.Title</div>
                <div class="col-5 col-md-3 d-flex justify-content-end align-items-center">@Html.ActionLink("新增食譜", "AddRecipe", "Recipe", null, new { @class = "table-btn" })</div>
            </div>
            <div class="row panel-body admin-list-body">
                <table class="col-12 table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.recipe_cover)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.recipe_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.recipe_author)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.time)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.view_times)
                        </th>
                        <th>
                            收藏次數
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Content("~/Recipe/RecipeDetail/" + item.recipe_id)">
                                    <img class="mainimage" src="@RecipeDetails.GetRecipeImage(item.recipe_id)" style="max-width: 50%;width: 100px;" />
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.recipe_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.recipe_author)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.time)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.view_times)
                            </td>
                            <td>
                                @RecipeDetailService.CountFavored(item.recipe_id)
                            </td>
                            <td style="text-align:right">
                                @Html.ActionLink("修改", "EditRecipeDetail", "Recipe", new { id = item.recipe_id }, new { @class = "table-btn" })
                                @Html.ActionLink("刪除", "Delete", "Recipe", new { id = item.recipe_id }, new { @class = "site-btn", onclick = "return confirm('是否確定要刪除?')" })
                            </td>
                        </tr>
                    }

                </table>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    @Html.ActionLink("返回列表", "List", "Recipe", null, new { @class = "site-btn" })
                </div>
            </div>
        </div>
    </div>
</div>