<footer class="footer">
    <div class="container-fluid">
        <div class="footer__instagram">
            <div class="footer__instagram__avatar">
                <div class="footer__instagram__avatar--pic">
                    <img src="@Url.Content("~/foodeiblog/img/footer/instagram-avatar.jpg")" alt="">
                </div>
                <div class="footer__instagram__avatar--text">
                    <h5>@AppService.AppName</h5>
                    <span>瀏覽次數： @DateTime.Now.Year</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-4 col-6">
                    <div class="footer__instagram__item set-bg" data-setbg="@Url.Content("~/foodeiblog/img/footer/ip-1.jpg")"></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-6">
                    <div class="footer__instagram__item set-bg" data-setbg="@Url.Content("~/foodeiblog/img/footer/ip-2.jpg")"></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-6">
                    <div class="footer__instagram__item set-bg" data-setbg="@Url.Content("~/foodeiblog/img/footer/ip-3.jpg")"></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-6">
                    <div class="footer__instagram__item set-bg" data-setbg="@Url.Content("~/foodeiblog/img/footer/ip-4.jpg")"></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-6">
                    <div class="footer__instagram__item set-bg" data-setbg="@Url.Content("~/foodeiblog/img/footer/ip-5.jpg")"></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-6">
                    <div class="footer__instagram__item set-bg" data-setbg="@Url.Content("~/foodeiblog/img/footer/ip-6.jpg")"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__text">
                    <div class="footer__logo">
                        <a href="@Url.Content("~/Home/index")"><img src="@Url.Content("~/foodeiblog/img/logo.png")" alt=""></a>
                    </div>
                    <p>
                        我們是2021年創建的小小團隊，認為食物是帶來幸福的魔法<br /> 希望每個人都能輕鬆利用手邊食材，做出好料理<br />也希望藉此減少剩食，為地球盡一份心力
                    </p>
                    <div class="footer__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-envelope-o"></i></a>
                    </div>
                </div>
                <div class="footer__copyright">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        @DateTime.Now.Year All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
<!-- Search Begin -->
<div class="search-model">
    <div class="search-text row">
        <div class="col-12">
            <div class="search-close-switch">+</div>
            <h3>用食材找食譜</h3>
            <p>今天冰箱有什麼？通通搜起來！</p>
        </div>
        @using (Html.BeginForm("SearchElement", "RecipeSearching", FormMethod.Post, new { @id = "SearchForm", @class = "col-10 offset-1 col-md-8 offset-md-2" }))
        {
            <input type="text" id="keyword" name="keyword" placeholder="搜食材">
            <button type="submit"><i class="fa fa-search"></i></button>
        }

        @using (Html.BeginForm("SearchName", "RecipeSearching", FormMethod.Post, new { @id = "SearchForm", @class = "col-10 offset-1 col-md-8 offset-md-2" }))
        {
            <input type="text" id="keyword" name="keyword" placeholder="找食譜">
            <button type="submit"><i class="fa fa-search"></i></button>
        }
    </div>
</div>
<!-- Search End -->
